body {
	background-color: black;
	text-align: center;
}
h1 {
	font-family: 'Press Start 2P', sans-serif;
	color: white;
}
form {
	display: inline-block;
}
input {
	font-family: 'Press Start 2P', sans-serif;
	border: 2px solid black;
	margin: 5px auto;
	padding: 5px 10px;
	border-radius: 25px;
	background-color: white;
	color: black;
}
button {
	font-family: 'Press Start 2P', sans-serif;
	border-radius: 25px;
	border: 2px solid black;
	margin: 5px;
	padding: 5px 10px;
	background-color: white;
	color: black;
}
